




<div *ngIf="product != null">
  
  <h2>Details of the Product "{{ product.idProduct }}"</h2>
<div class="charsheet">
<header>
  <section class="charname">
    <label  style="padding-left: 2rem;"    for="IDProcess">CodeProcess</label>
    <select [(ngModel)]="product.codeProcess" id="IDProcess" class="select">
      <option *ngFor="let process of processes" [value]="process.codeProcess">
        {{ process.codeProcess }}
      </option>
    </select>
  </section>
    <section class="misc1">
    <section class="misc2">
        <ul>
            <li>           
              <label for="TypeProduct">TypeProduct  </label> 
              <input [(ngModel)]="product.typeProduct"  />
            </li>
            <li>
              <label for="ItemCode">ItemCode  </label>
              <input [(ngModel)]="product.itemCode"  />
            </li>
            <li>
              <label for="ItemDesc">ItemDesc  </label> 
              <input [(ngModel)]="product.itemDesc"  />
            </li>
            <li>
              <label for="ParentItemCode">ParentItemCode  </label>
              <input [(ngModel)]="product.parentItemCode"  />
            </li>
          
            <li>
              <label for="Image">Image  </label>
              <input [(ngModel)]="product.image"  />
            </li>
            <li>
            
              <label for="ParentIDProduct">ParentIDProduct  </label>
              <input [(ngModel)]="product.ParentIDProduct"  />
              
            </li>
            
            <li>
             
              <label for="CodeItemModel">CodeItemModel  </label>
              <input [(ngModel)]="product.codeItemModel"  />
             
            </li>
            <li>
             
              <label for="ITemGroup">ITemGroup  </label>
              <input [(ngModel)]="product.iTemGroup"  />
            </li>

            <li>
              <label for="Warehouse">Warehouse  </label>
             <input [(ngModel)]="product.warehouse" >
            
            </li>

            <li>
              <label for="ConsumptionPerOneKM_outPut">ConsumPerOneKM_outPut  </label>
              <input [(ngModel)]="product.consumptionPerOneKM_outPut"  >
            
            </li>

            <li>
              <label for="Famille">Famille  </label>
              <input [(ngModel)]="product.famille"  >
            
            </li>

            <li>
              <label for="Section">Section  </label>
              <input  [(ngModel)]="product.section"  >
        
            </li>
           
      <li>
        <label for="Couleur">Couleur  </label>
        <input [(ngModel)]="product.couleur"  >
      </li>

      <li>
        <label for="TypeMatiere">TypeMatiere  </label>
        <input [(ngModel)]="product.typeMatiere" >
      </li>
      <li>
        <label for="stockcouleurP">stockcouleurP  </label>
        <input [(ngModel)]="product.couleurP"  >
      </li>
      <li>
        <label for="couleurS">couleurS  </label>
        <input  [(ngModel)]="product.couleurS"  >
      </li>
      <li>
        <label for="Diametre">Diametre  </label>
        <input [(ngModel)]="product.diametre"  >
      </li>
      <li>
        <label for="CodePAC_DVR">CodePAC </label>
        <input [(ngModel)]="product.codePAC"  >
      </li>
      <li>
        <label for="CodePAC_DVR">CodePAC_DVR  </label>
        <input [(ngModel)]="product.codePAC_DVR"  >
      </li>
      
      <li>
        <label for="m_min_m_sec">m_min_m_sec  </label>
        <input [(ngModel)]="product.m_min_m_sec"  >
      </li>
      <li>
        <label for="CodeItemModel_DVR">CodeItemModel_DVR  </label>
        <input [(ngModel)]="product.codeItemModel_DVR" >
      </li>
      <li>
        <label for="Couleur">LocalItemCode  </label>
        <input [(ngModel)]="product.localItemCode"  >
      </li>
      <li>
        <label for="Couleur">CodeItemNature  </label>
        <input [(ngModel)]="product.codeItemNature"  >
      </li>
      <li>
        <label for="Code_Recette_DVR">Code_Recette </label>
        <input  [(ngModel)]="product.codeRecette"  >
      </li>
      <li>
        <label for="Code_Recette_DVR">Code_Recette_DVR  </label>
        <input  [(ngModel)]="product.code_Recette_DVR"  >
      </li>
      <li>
        <label for="Code_Recette_DVR">Code_TPV  </label>
        <input  [(ngModel)]="product.cOdeTPV"  >
      </li>
      <li>
        <label for="Code_Recette_DVR">Code_TPV_DVR  </label>
        <input  [(ngModel)]="product.codeTPV_DVR"  >
      </li>

      <li>
        <label for="InforItem">InforItem  </label>
        <input [(ngModel)]="product.inforItem"  >
      </li>
      <li>
        <label for="Warehouse_WIP">Warehouse_WIP  </label>
        <input [(ngModel)]="product.warehouse_WIP"  >
      </li>
      <li>
        <label for="ResistanceOptimal">ResistanceOptimal  </label>
        <input  [(ngModel)]="product.resistanceOptimal" >
      </li>

      <li>
        <label for="Poids_Insolation_Kg_Km">Poids_Insolation_Kg_Km  </label>
          <input  [(ngModel)]="product.poids_Insolation_Kg_Km" >
      </li>
      <li>
        <label for="Poids_Insolation_Kg_Km">Speed  </label>
          <input  [(ngModel)]="product.speed" >
      </li>
      <li>
        <label for="Poids_Insolation_Kg_Km">cunsumCopperKgPerOneKM  </label>
          <input  [(ngModel)]="product.cunsumptionCopperKgPerOneKM" >
      </li>
      
      <li>
        <label for="Poids_Insolation_Kg_Km">cunsumptionPVCKgPerOneKM  </label>
          <input  [(ngModel)]="product.cunsumptionPVCKgPerOneKM" >
      </li>
      <li>
        <label for="Couleur_Marquage">Couleur_Marquage  </label>
        <input  [(ngModel)]="product.couleur_Marquage"  >
      </li>
      <li>
        <label for="Poids_Insolation_Kg_Km">poids_Conducteur_Kg_Km  </label>
          <input  [(ngModel)]="product.poids_Conducteur_Kg_Km" >
      </li>
     

            </ul>
    </section>
    <section class="misc">
      <ul>
            <li>
              <div class="box">
                <div style=" width: 750px;">
                  <label for="With_Rewinder">With_Rewinder  </label>
                </div>             
                <input type="checkbox" name="With_Rewinder" [checked]='product.with_Rewinder===true'  [(ngModel)]="product.with_Rewinder" >
              </div>
            </li>
            <li>
              <div class="box">
                <div style=" width: 750px;">
                  <label for="FG">FG  </label>                
                </div>
                <input type="checkbox" name="FG" [checked]='product.fg===true'  [(ngModel)]="product.fg" >
              </div>
            </li>

        </ul>
    </section>
  </section>
</header>

</div>

<button (click)="updateProduct(product)" class="saveButton" *ngIf="product?.idProduct">Save</button>
<button (click)="deleteProduct(product.itemCode!)" onclick="return confirm('Are you sure?')" class="DeleteButton" *ngIf="product?.idProduct">Delete</button>
<button (click)="createProduct(product)" class="saveButton"*ngIf="!product?.idProduct">Create</button>

</div>

