<h2>Brief description or introduction about the ProgProfil being managed</h2>
<button (click)="initNewProgProfil()" class="button" >Create new Prog_profil</button>
 
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Id Profil</th>
            <th>libProgramme</th>
            <th>nomProgramme</th>
            <th>Intitule</th>
            <th>onlyconsultation</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prog of pr">
              <td>{{ prog.id_Profil }}</td>
              <td>{{ prog.libProgramme }}</td>
              <td>{{ prog.nomProgramme }}</td>
              <td>{{ prog.intitule }}</td>
              <td>{{ prog.onlyconsultation }}</td>
              
              <td>
                <img title="Details" class="img-responsive" src="./../../../assets/images/details.png" (click)="editProgProfil(prog)" >
              </td>   
            </tr>
          </tbody>
    </table>
</div>
<app-edit-progprofil 
  [progprofil]="progProfilToEdit" 
  (progProfilUpdated)="handleProgProfilUpdated()">
</app-edit-progprofil>


